<!DOCTYPE html>
<html>
  <head>
    <title>Edit Book</title>
  </head>
  <body>
    <div class="container">
      <h2>Edit Book</h2>
      <%= render 'form', book: @book %>
      <%= link_to 'Back', books_path, class: 'btn btn-secondary' %>
    </div>
  </body>
</html>
