<!DOCTYPE html>
<html>
  <head>
    <title>Add New Book</title>
  </head>
  <body>
    <div class="container mt-5">
      <h2>Add a New Book</h2>
      <%= render 'form', book: @book %>
      <%= link_to 'Back', books_path, class: 'btn btn-secondary mt-3' %>
    </div>
  </body>
</html>
